<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>강경일 홈페이지</title>
    <link rel="shortcut icon" href="img/favicon.png">
    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" data-menu="0">Start</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a id="menu_portfolio" href="#about" data-menu="400">About</a>
                    </li>
                    <li class="page-scroll">
                        <a id="menu_portfolio" href="#skill" data-menu="900">Skill</a>
                    </li>
                    <li class="page-scroll">
                        <a id="menu_portfolio" href="#portfolio" data-menu="1200">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a id="menu_contact" href="#" data-menu="1500">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div id="slider-container">
            <div    data-0="transform:translate(0%,0%);"
                    data-100p=""
                    data-200p="transform:translate(-25%,0%);"
                    data-250p=""
                    data-300p="transform:translate(-50%,0%);"
                    data-350p=""
                    data-400p="transform:translate(-50%,0%);"
                    data-450p=""
                    data-500p="transform:translate(-50%,-25%);"
                    data-550p=""
                    data-600p="transform:translate(-50%,-50%);"

                    data-602p="transform:translate(-50%,-51%);"
                    data-605p="transform:translate(-50%,-55%);"
                    data-610p="transform:translate(-50%,-60%);"
                    data-620p="transform:translate(-50%,-65%);"
                    id="slides"
                 >

                <div id="slide-1" class="slide">

                    <div class="intro-text"
                         >
                        <img id="main_picture" class="img-responsive center" src="img/lang.jpg" alt="">
                        <span class="name">
                          I'm 강경일<br />
                          
                        </span>
                        <span class="skills">
                            소프트웨어 개발자

                        </span>
                    </div>
                </div>
                <div id="slide-2"  class="slide"
                     >

                    <div id="about_columns" class="intro-text">
                        <div>
                            <img class="img-responsive center" src="img/favicon.png" alt="">
                                <a href="#">ruddlf4933@naver.com</a>
                                <a href="#">ruddlf4933@naver.com</a>
                                <a href="#">ruddlf4933@naver.com</a>
                                <a href="#">ruddlf4933@naver.com</a>
                        </div>
                        <div class="career">
                            <p><i class="glyphicon glyphicon-calendar">이력</i>
                                <br/>
                                <p>경희대학교 학사 ( 2009 ~ 2015 )</p>
                            <p>정보처리기사 취득 (2015. 03)</p> 
                            
                            
                            
                            </p>
                            <p><i class="glyphicon glyphicon-briefcase">경력</i></p>
                            <p>경희대학교 컴퓨터공학</p> 
                            <p>프로그래밍 동아리 '다솜' ( 2009. 03 ~ 2015. 08 )</p>
                            <br />
                            <p>㈜트리즈코퍼레이션</p> 
                            <p>소프트웨어 개발자 ( 2016. 01 ~ 현재 )</p>
                            <br />
                            <p><i class="glyphicon glyphicon-folder-close">프로젝트</i></p>
                            <p><a href="#slide-5">Porfolio 메뉴로</a></p>
                       

                        </div>
                    </div>
                </div>
                <div id="slide-4"  class="slide_height2">
            <!-- About Section -->

                <section class="success" id="about">
                    <div class="container_sub">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2>SKILL</h2>
                                <hr class="star-light">
                            </div>
                        </div>
                        <div class="row">
                            <div class="skill-container">
                                <div class="skill_content">
                                    <img  class="img_skill" src="img/git.png" alt="">
                                    <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="skill_content">
                                    <img  class="img_skill" src="img/nodejs.png" alt="">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                      </div>
                                    </div>
                                </div>
                                <div class="skill_content">
                                    <img  class="img_skill" src="img/nodejs.png" alt="">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                      </div>
                                    </div>
                                </div>
                                <div class="skill_content">
                                    <img  class="img_skill" src="img/nodejs.png" alt="">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                      </div>
                                    </div>
                                </div>
                                <div class="skill_content">
                                    <img  class="img_skill" src="img/nodejs.png" alt="">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                      </div>
                                    </div>
                                </div>
                                <div class="skill_content">
                                    <img  class="img_skill" src="img/java.jpg" alt="">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">45% Complete</span>
                                          
                                      </div>
                                        
                                    </div>
                                    <div class="skill-comment">Java - 초급</div>
                                </div>
                               
                                <div class="skill_content">
                                    <img  class="img_skill" src="img/react.png" alt="">
                                    <div class="progress">
                                      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        <span class="sr-only">45% Complete</span>
                                      </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
                </div>
                <!-- Portfolio Grid Section -->
                <div id="slide-5"  class="slide_height3">
                  <section  id="portfolio" class="portfolio">
                        <div class="container wow fadeInUp all-portfolio" data-wow-duration="2s">
                           <div class="row">
                               <div class="section-title text-center">
                                   <h1>Portfolio</h1>
                                   <p>
                                       진행했던 프로젝트들입니다.<br />
                                       <strong>새로운 프로젝트 완성 시 계속 업로드 할 예정입니다.</strong>
                                   </p>
                               </div> <!-- section title end -->
                           </div> <!-- row end -->
                           <div class="row">
                             <div class="section-content">
                                 <div class="portfolio-btn">
                                     <button class="filter" data-filter="all">All </button>
                                     <button class="filter" data-filter=".branding">Branding</button>
                                     <button class="filter" data-filter=".web">Web Design</button>
                                     <button class="filter" data-filter=".mobile">Mobile App</button>
                                 </div> <!-- portfolio-btn end -->

                                 <div id = "columns" class="portfolio-container">

                                     <div class="mix single-portfolio mobile branding " data-my-order="1">
                                         <img class="portfolio-img" src="img/tkd.png" alt="">
                                         <div class="portfolio-overlay">
                                             <a class="portfolio-lightbox" href="img/portfolio-img/portfolio-image-6.jpg">
                                                 <img src="img/zoom-icon.png" alt="Zoom">
                                             </a>
                                             <h3>Year Passing</h3>
                                         </div>
                                     </div> <!-- single portfolio  -->
                                     <!--div >
                                         <figure class="mix single-portfolio web " data-my-order="2">
                                             <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">
                                             <div class="portfolio-overlay">
                                                 <a class="portfolio-lightbox" href="img/portfolio-img/portfolio-image-2.jpg">
                                                 </a>
                                                 <h3>UI App</h3>
                                             </div>
                                         </figure>


                                     </div>
                                     <div >
                                         <figure class="mix single-portfolio web " data-my-order="2">
                                             <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">
                                             <div class="portfolio-overlay">
                                                 <a class="portfolio-lightbox" href="img/portfolio-img/portfolio-image-2.jpg">
                                                 </a>
                                                 <h3>UI App</h3>
                                             </div>
                                         </figure>


                                     </div>
                                     <div >
                                          <figure class="mix single-portfolio web " data-my-order="2">
                                              <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">
                                              <div class="portfolio-overlay">
                                                  <a class="portfolio-lightbox" href="img/portfolio-img/portfolio-image-2.jpg">
                                                  </a>
                                                  <h3>UI App</h3>
                                              </div>
                                          </figure>


                                      </div>
                                     <div >
                                         <% for(var i=0; i < data.length ;i++) {%>
                                         <figure class="mix single-portfolio mobile " data-my-order="3">
                                             <img src="<%= data[i].description %>" class="img-responsive" alt="">
                                             <!--figcaption>
                                                 <p>
                                                     <a href="#portfolioModal<%= data[i].idx %>"
                                                        class="btn btn-primary portfolio-link"
                                                        data-toggle="modal"
                                                        role="button">Button
                                                     </a>
                                                 </p>
                                             </figcaption>
                                         </figure>
                                         <%}%>

                                     </div><!-- single portfolio  -->

                                     <!--div class="mix single-portfolio mobile branding " data-my-order="4">
                                         <img class="portfolio-img" src="img/portfolio-img/portfolio-image-4.jpg" alt="">
                                         <div class="portfolio-overlay">
                                             <a class="portfolio-lightbox" href="img/portfolio-img/portfolio-image-4.jpg">
                                                 <img src="img/zoom-icon.png" alt="Zoom">
                                             </a>
                                             <h3>Market Research</h3>
                                         </div>

                                     </div>

                                     <div class="mix single-portfolio web branding " data-my-order="5">
                                         <img class="portfolio-img" src="img/portfolio-img/portfolio-image-5.jpg" alt="">
                                         <div class="portfolio-overlay">
                                             <a class="portfolio-lightbox" href="img/portfolio-img/portfolio-image-5.jpg">
                                                 <img src="img/zoom-icon.png" alt="Zoom">
                                             </a>
                                             <h3>3D Branding</h3>
                                         </div>

                                     </div>

                                     <div class="mix single-portfolio web " data-my-order="6">
                                         <img class="portfolio-img" src="img/portfolio-img/portfolio-image-1.jpg" alt="">
                                         <div class="portfolio-overlay">
                                             <a class="portfolio-lightbox" href="img/portfolio-img/portfolio-image-1.jpg">
                                                 <img src="img/zoom-icon.png" alt="Zoom">
                                             </a>
                                             <h3>IOS App UI Kit</h3>
                                         </div>

                                     </div><!-- single portfolio  -->

                                 </div> <!-- portfolio-container end -->
                             </div><!--  portfolio-column end -->
                           </div> <!-- row end -->
                        </div>
                   </section>






                    <section id="portfolio">
                        <div class="container_sub">
                            <!--div class="row">
                                <div class="col-lg-12 text-center">
                                    <h2 >Portfolio</h2>
                                    <hr class="star-primary">
                                </div>
                            </div>-->
                            <div id="columns">

                                <% for(var i=0; i < data.length ;i++) {%>
                                <figure>
                                    <img src="<%= data[i].description %>" class="img-responsive" alt="">
                                    <figcaption>
                                        <p>
                                            <a href="#portfolioModal<%= data[i].idx %>"
                                               class="btn btn-primary portfolio-link"
                                               data-toggle="modal"
                                               role="button">Button
                                            </a>
                                        </p>
                                    </figcaption>
                                </figure>
                                <%}%>
                                <!--figure>
                                    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">
                                    <figcaption>Cinderella wearing European fashion of the mid-1860’s</figcaption>
                                </figure>

                                <figure>
                                    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg">
                                    <figcaption>Rapunzel, clothed in 1820’s period fashion</figcaption>
                                </figure>

                                <figure>
                                    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg">
                                    <figcaption>Belle, based on 1770’s French court fashion</figcaption>
                                </figure>

                                <figure>
                                    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg">
                                    <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
                                </figure>
                                <figure>
                                    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg">
                                    <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
                                </figure>
                                <figure>
                                    <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg">
                                    <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
                                </figure-->
                            </div>



                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="gototop js-top active text-center">
          스크롤 내려주세요
          <a href="#" class="js-gotop center">

            <i class="glyphicon glyphicon-arrow-down"></i>
          </a>
        </div>
    </header>

    

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
  <script src="js/jquery.mixitup.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>



    <!-- Skrollr JavaScript -->
    <script src="js/skrollr.min.js"></script>
    <script src="js/skrollr.menu.min.js"></script>
    <script type="text/javascript">
        var s = skrollr.init({smoothScrolling:true});
        /*skrollr.menu.init(s, {
            //skrollr will smoothly animate to the new position using `animateTo`.
            animate: true,

            //The easing function to use.
            easing: 'sqrt',

            //Multiply your data-[offset] values so they match those set in skrollr.init
            scale: 2,

            //How long the animation should take in ms.
            duration: function(currentTop, targetTop) {
                //By default, the duration is hardcoded at 500ms.
                return 500;

                //But you could calculate a value based on the current scroll position (`currentTop`) and the target scroll position (`targetTop`).
                //return Math.abs(currentTop - targetTop) * 10;
            },

            //If you pass a handleLink function you'll disable `data-menu-top` and `data-menu-offset`.
            //You are in control where skrollr will scroll to. You get the clicked link as a parameter and are expected to return a number.
            handleLink: function(link) {
                return 400;//Hardcoding 400 doesn't make much sense.
            },

            //By default skrollr-menu will only react to links whose href attribute contains a hash and nothing more, e.g. `href="#foo"`.
            //If you enable `complexLinks`, skrollr-menu also reacts to absolute and relative URLs which have a hash part.
            //The following will all work (if the user is on the correct page):
            //http://example.com/currentPage/#foo
            //http://example.com/currentDir/currentPage.html?foo=bar#foo
            ///?foo=bar#foo
            complexLinks: true,

            //This event is triggered right before we jump/animate to a new hash.
            change: function(newHash, newTopPosition) {
                //Do stuff
            },

            //Add hash link (e.g. `#foo`) to URL or not.
            updateUrl: true //defaults to `true`.
        });
        /*$(document).ready(function() {
            $('header').css('height',window.innerHeight );

            $(window).resize(function(){

                 $('header').css('height',window.innerHeight );
            })
        });

            */
    </script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>


    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>


</body>

</html>
