<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /> 

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  



</head>

<body>
 
    <form action="/portfolio" method="post" enctype="multipart/form-data">
      <div id="admin_input" class="input-group">
        <p>
          <label class="label label-default">프로젝트 제목</label>
          <input class="form-control" type="text" name="title">
        </p>
    <!-- Single button -->
        <p>
            <label class="label label-default">카테고리</label>
            <select id="category" name="category" class="upper">
                <option value="web">Web</option>
                <option value="mobile">mobile</option>
                <option value="game">Game</option>
                <option value="app">App</option>
            </select>
        </p>

        <p>
          <label class="label label-default">사용 기술</label>
            <input class="form-control" type="text" name="skills">
        </p>
        <span>
          <label class="label label-default">시작 날짜</label>
            <input id="fromDate" class="datepicker" type="text" name="start_date"
                   style="z-index:0">
        </span>
        <span>
          <label class="label label-default">종료 날짜</label>
            <input id="toDate" class="datepicker" type="text" name="end_date">
        </span>
        <p>
            <label class="label label-default">썸네일 이미지</label>
            <input style="z-index:0" class="form-control" type="file" name="thumbnail">
        </p>
        <textarea id ="description"
                  class="form-control"
                  style=""
                  placeholder="내용"
                  name="description"
                  >
        </textarea>
        <p>
            <input class="form-control" type="submit">
        </p>

      </div>

    </form>
</body>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script>
    jQuery.browser = {};
(function () {
    jQuery.browser.msie = false;
    jQuery.browser.version = 0;
    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
        jQuery.browser.msie = true;
        jQuery.browser.version = RegExp.$1;
    }
})();
</script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
<script src="../../js/ckeditor/ckeditor.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
    CKEDITOR.replace('description', {
    });
</script>

<script>
    $( "#fromDate" ).datepicker({dateFormat: 'yy-mm-dd'
    });
    $( "#toDate" ).datepicker({dateFormat: 'yy-mm-dd'
    });

</script> 
</html>
